body {}

header {
	padding-left: 0rem !important;
	padding-right: 0rem !important;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.row {
	margin: 0;
}

.navbar {
	margin-top: auto;
}


a:visited,a:active,a:link {
text-decoration: none;
}

@media screen and (min-width:54.785714rem) {
	ul {
		margin: 0;
		padding: 2rem 0 2rem 0;
		display: block;
		text-align: center;
	}
	li {
		list-style: none;
		/*float: left;*/
		font: bold 17px "MicrosoftYahei";
		line-height: 3rem;
		margin: 1rem 0 1rem 0;
		text-align: center;
		color: #222222;
		transition: 0.3s;
		cursor: pointer;
		-moz-user-select: none;
		-o-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		display: inline;
		border-radius: 2px;
		padding: 6px 18px;
		margin-left: 24px;
	}
	li:hover {
	color: #fff;
	background-color: rgb(180, 199, 241);
    }
    .time{
    	float: right;
    }
}

@media screen and (max-width:54.714286rem) {
	ul {
		margin: 0;
		padding: 1rem 0 1rem 0;
		display: block;

	}
	li {
		list-style: none;
		font: bold 1.428571rem "MicrosoftYahei";
		line-height: 3rem;
		margin: 1rem 1rem 1rem 1rem;
		padding: 4px 8px;
		text-align: center;
		color: #222222;
		transition: 0.3s;
		display: inline;
		border-radius: 2px;
	}
}

.active {
	background-color: #4A74E2;
	color: #fff;
}

.selected {
	/*display: block;*/
}

.line {
	border-bottom: .071429rem solid #e0e7eb;
}

.content {
	background-color: #F9F9F9;
}

@media screen and (max-width:54.785714rem) {
	.neirong>.left>.title,
	.advert {display: none}
}

.advert {
	/*width: 18.571429rem;*/
	float: right;
}

span {
	display: inline-block
}

@media screen and (min-width:54.785714rem) {
	.neirong {
		padding-top: 3.142857rem;
		padding-bottom: 5rem;
	}
	.reload {
		cursor: pointer;
	}
	
	.title1 a{
		
		color:#aaaaaa;
	}
	.title1 a:hover{
		color:#4974E2 ;
	}
}

@media screen and (max-width:54.714286rem) {}

.advert>.zixun>.title1,
.advert>.chanpin>.title1 {
	margin-bottom: 2.142857rem;
	color: #7f868d;
}
.titless{
	color: #7f868d;
}
.chanpin {
	margin-top: 70px;
}

.list-group {
	width: 14.285714rem;
	height: 10.714286rem;
}

.item {
	margin-top: 2.142857rem;
	padding-bottom: 2.142857rem;
	border-bottom: 1px solid #e0e7eb;
}

.info {
	width: 48rem;
	padding: 0 1.714286rem 0 1.428571rem;
}

.classify {
	width: 6rem;
	height: 2rem;
	font: bold 1rem "microsoftYahei";
	line-height: 2rem;
	text-align: center;
	color: #fff;
	background: #4A74E2;
	border-radius: 3px;
}

.top>.title {
	font:bold 16px "microsoftYahei";

	cursor: pointer;
}

.glyphicon-time,
.pubdate,
{
	color: #C8C8C8;
}

.intro {
	margin-top: 10px;
	color: #7f868d;
	line-height: 1.8rem;
	font-size: 14px;
}

.jia {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	text-align: center;
	line-height: 1.5rem;
	font-size: 1rem;
	color: #fff;
	background-color: #F18B8B;
}

.name {
	font: bold 1rem "microsoftYahei";
}

.zhi {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	text-align: center;
	line-height: 1.5rem;
	color: #fff;
	font-size: 1rem;
	background-color: #9AABB8;
}

.position {
	font: bold 1rem "microsoftYahei";
	color: rgb(77, 86, 94)
}

.glyphicon-eye-open,
.click-rite {
	color: rgb(111, 124, 136);
}


/*视频栏目列表PC端*/

@media screen and (min-width:54.785714rem) {
	.pageName {
		width: 3rem;
		height: 3rem;
		margin: 2rem 1rem;
		text-align: center;
		color: #8C8C8C;
		line-height: 3rem;
		border: 1px solid #8C8C8C;
		border-radius: 50%;
		font-weight: bold;
	}
	#page {
		text-align: center
	}
	.choosed {
		color: #0F0F0F;
		border: 1px solid #0F0F0F
	}
	.no-content {

	
		margin:24% 30% 0%  36%; 
		display: block;
	}
	
	.toTop {
		display: block;
		position: fixed;
		top: 60%;
		right: 6rem;
	}
	.leyuu {
		display: block;
		position: fixed;
		top: 30%;
		right: 3rem;
	}
	footer {
		/*height: 17.857143rem;*/
		background: url(../img/footer_bg.jpg) repeat center;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		background-size: cover
	}
	.pccss {
		display: block;
		margin-top: 4.571429rem;
		color: #d3d3d3;
	}
	.mobicss {
		display: none;
	}
	.lis {
		padding: 0 4.285714rem;
	}
	.links>span,
	.tuiguang>span {
		margin: 0.5rem 1rem 0.5rem 0;
		font-size: 1rem;
	}
	.weibo {
		margin-left: 2.571429rem;
	}
	.qr {
		position: relative;
	}
	.qrwechat {
		position: absolute;
		top: -8rem;
		left: -2rem;
	}
	.qrweibo {
		position: absolute;
		top: -8rem;
		left: 6rem;
	}
	.pccss p {
		color: #ccc;
		font-size: 1rem;
	}
	.pccss .bot_title {
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding-top: 2rem;
		opacity: 0.6;
	}
	.pccss a {
		color: #ccc
	}
	.pccss .logo {
		margin-bottom: 2rem;
		width: 100%;
	}
	
	
	
	.playreload {
		position: relative;
	}
	.mengban{
		position: absolute;
		top: 0px;
		left:0px;
		width: 200px;
		height: 150px;
		background-color: #000000;
		opacity: 0.5;
		z-index: 2;
	}
	
	.play {
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 9999;
	}
	.pubdate,
	.glyphicon-time{
		color: #aaaaaa;
	}
}


/*视频栏目列表移动端*/

@media screen and (max-width:54.714286rem) {
	.titless,
	.bot,
	.classify {
		display: none;
	}
	.reloadimg {
		width: 100%;
		height: 100%
	}
	.item {
		width: 100%;
		margin-top: 1rem;
		padding-bottom: 1rem;
	}
	.reload {
		width: 30%;
	}
	.info {
		width: 70%;
		padding: 0 1rem;
	}
	.top>.title {
		font: 1.5rem "microsoftYahei";
		cursor: pointer;
	}
	.intro {
		line-height: 1.5rem;
		font-size: 1rem;
		color: #9EA7A8;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
	.glyphicon,
	.pubdate {
		color: #C8C8C8;
	}
	.pageName {
		width: 2rem;
		height: 2rem;
		margin: 1rem 0.5rem;
		text-align: center;
		background-color: #FFFFFF;
		line-height: 2rem;
		border: 1px solid #F9F9F9;
		border-radius: 50%;
	}
	#page {
		text-align: center
	}
	.choosed {
		background-color: #1E9FFF;
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
	}
	.no-content {
	
		margin: 0 auto;
		display: block;
	}
	.leyuu,
	.toTop {
		display: none;
	}
	footer {}
	.pccss {
		display: none;
	}
	.mobicss {
		display: block;
	}
	.mobicss>img {
		width: 16rem;
		height: auto;
	}
	.copyright {
		font: normal 0.5rem "微软雅黑";
		margin: 1rem 0 2rem 0;
		color: #3C3C3C;
	}
	.medialist {
		height: 45rem;
		
	}
	.play {
		display: none;
	}
	.left{
	width: 100%;
	}
}

.link a:nth-child(2) {
	margin-top: 18px;
	display: block;
}

.qrwechat,
.qrweibo {
	display: none;
}