.院校库视频页面_r2_c2{ background:url("院校库视频页面_r2_c2.png") top left no-repeat; }
.院校库视频页面_r8_c10{ width:49px; height:49px; background-position:-10px -10px; }
.院校库视频页面_r8_c8{ width:50px; height:49px; background-position:-10px -69px; }
.院校库视频页面_r6_c4{ width:35px; height:36px; background-position:-10px -128px; }
.院校库视频页面_r2_c2{ width:31px; height:28px; background-position:-10px -174px; }
.院校库视频页面_r4_c5{ width:31px; height:18px; background-position:-10px -212px; }

